
/* background colors
    - main ##FFFFFF
    - second #2F303A #E5E5E5 */

/* text colors 
    - main  #757575
    - second #212121 #FFFFFF rgba(255, 255, 255, 0.6) #000000
    - hover  #2196F3 */

:root {
    /* fonts */
    --main-font: "Roboto";
    --secondary-font: "Raleway"; 

    /* text color */
    --main-color: #757575;

    /* bg color */
    --background: #FFFFFF;

    /* others */
}
/* body */
.body {
    background: var(--background);
    color: var(--main-color);
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* common styles start */
.list {
    text-decoration: none;
    list-style: none;
}

/* logo */
.header-logo {
color: #2196F3;
}
.header-span {
color: #000000;    
}
.footer-span {
color: #FFFFFF;
}

/* HEADER */
/* header-nav */
.header-link {
color: #212121;
}
.header-link:hover,
.header-link:focus {
    color: #2196F3; 
}

/* header-contacts */
.header-contacts a {
    text-decoration: none;
    color: #757575;    
}
.header-contacts a:hover,
.header-contacts a:focus {
color: #2196F3;
}

/* MAIN */
/* 1 hero */
.hero {
    background: 2F303A;
    color: #FFFFFF;
}








/*  */
/*  */
/*  */